<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		<section name="filters" type="Tamarack.Configuration.TypeCollectionConfigurationSection, Tamarack"/>
		<section name="named" type="Tamarack.Configuration.TypeCollectionConfigurationSection, Tamarack"/>
	</configSections>

	<filters>
		<types>
			<add type="Tamarack.Test.Pipeline.Extensions.AppendCaretToOutput, Tamarack.Test" />
			<add type="Tamarack.Test.Pipeline.Extensions.AppendAsteriskToOutput, Tamarack.Test" />
		</types>
	</filters>

	<named>
		<types>
			<add
				name="first"
				type="Tamarack.Test.Pipeline.Extensions.AppendCaretToOutput, Tamarack.Test" />
			<add
				name="second"
				type="Tamarack.Test.Pipeline.Extensions.AppendCaretToOutput, Tamarack.Test" />
		</types>
	</named>

</configuration>